.common {
    width: 100%;
    height: 100%;
}

.menu_item {
    font-size: 15pt;
    color : black;   
}

#roomContainer {
    max-width: 1920px;
    max-height: 1080px;
    min-width: 1920px;
    min-height: 1080px;
    overflow: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 50px 75px 50px 75px;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "content chat";
    row-gap: 10px;
    column-gap: 10px;
}
#roomContainer .content {
    grid-area: 'content';
}
#roomContainer #readyArea {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header"
    "user-1 user-1 blank user-2 user-2"
    "user-1 user-1 menu user-2 user-2"
    "user-1 user-1 menu user-2 user-2";
    row-gap: 10px;
    column-gap: 10px;
}

#roomContainer #gameArea {
    width: 100%;
    height: 100%;;
}

#header {   
    grid-area: header;
    text-align: left;
    font-size: 20px;
}

#user-1 {
    grid-area: user-1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#user-2 {
    grid-area: user-2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.HostMark {
    position: relative;
    bottom: 532.5px;
    right: 217.5px;
    font-size: 50px;
    color: gold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.userInfo {
    width: 75%;
    height: 50%;

    text-align: center;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.userInfo div {
    margin-top: 15px;
    margin-bottom: 15px;
}
.userInfo .ready {
    color: white;
}
.userInfo .notReady {
    color: rgb(70, 70, 70);
}

.userInfo button {
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
}
.userInfo button:hover {
    color: white;
}


#menu {
    grid-area: menu;
}

#chat {
    height: 100%;
    width: 100%;
    max-height: 980px;
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chat #chatList {
    width: 95%;
    height: 95%;
    overflow-y: auto;
}
#chat #chatList::-webkit-scrollbar {
    width: 10px;
}
#chat #chatList::-webkit-scrollbar-thumb {
    background: white;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
    width: 3px;
}
#chat #chatList::-webkit-scrollbar-track {
    background: rgba(30, 30, 30, 0.85);
    border-radius: 5px;
    width: 3px;
}
#chat #chatList .chatBox {
    display: flex;
}
#chat #chatList .chatBox.mine {
    justify-content: flex-end;
}
#chat #chatList .chatBox.opponent {
    justify-content: flex-start
}
#chat #chatList .chatBox .chat {
    width: fit-content;
    height: fit-content;
    padding: 2.5px 10px 2.5px 10px;
    margin: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#chat #chatList .chatBox .chat.mine {
    background-color: yellow;
}
#chat #chatList .chatBox .chat.opponent {
    background-color: white;
}
#chat #chatForm {
    width: 90%;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#menu button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: rgba(0, 0, 0, 0);

    font-size: 30px;
}

#menu button:hover {
    color: white;
}

#gameArea {
    width: 1330px;
    height: 1080px;
    top: 50%;

    display: grid;
    /* grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 0.175fr 1fr;
    grid-template-areas: 
    "myRecord oppArea oppRecord"
    "myRecord infoArea oppRecord"
    "myRecord myArea oppRecord"; */
    grid-template-columns: 0.5fr 0.5fr 2fr;
    grid-template-rows: 1fr 0.175fr 1fr;
    grid-template-areas: 
    "myRecord oppRecord oppArea "
    "myRecord oppRecord infoArea "
    "myRecord oppRecord myArea ";
    row-gap: 10px;
    column-gap: 10px;
}
#gameArea #myRecord {
    grid-area: myRecord;
}
#gameArea #infoArea {
    grid-area: infoArea;
    display: flex;
}
#gameArea #oppRecord {
    grid-area: oppRecord;
}
#gameArea .recordList {
    display: flex;
    flex-direction: column;
}
#gameArea .recordList .recorded {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-left: 5px rgba(0, 0, 0, 0) solid;
}
#gameArea .recordList .record {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-left: 5px rgba(0, 0, 0, 0) solid;
}
#gameArea #myRecord .record:hover {
    background-color: rgba(30, 30, 30, 0.5);
    border-left: 5px greenyellow solid;
}
#gameArea #myRecord .record.selected {
    background-color: rgba(30, 30, 30, 0.5);
    border: 5px greenyellow solid;
}
#gameArea .recordList .recordHeader {
    background-color: rgba(30, 30, 30, 0.5);
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#gameArea .recordList .recorded .recordName {
    width: 150px
}
#gameArea .recordList .recorded .recordScore {
    width: 50px;
}
#gameArea .recordList .record .recordName {
    width: 150px
}
#gameArea .recordList .record .recordScore {
    width: 50px;
}
#gameArea .recordList .recordTotal {
    display: flex;
    border: black 5px double;

    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#gameArea .recordList .recordTotal .recordName {
    width: 150px
}
#gameArea .recordList .recordTotal .recordScore {
    width: 50px;
}

#gameArea .playArea {
    display: flex;
    flex-direction: column;

    text-align: center;
}
#gameArea #myArea {
    grid-area: myArea;
    color: white
}
#gameArea #myArea #myDiceArea {
    flex-basis: 60%;
    margin: 10px 10px 10px 10px;
    background-color: rgba(30, 30, 30, 0.5);

    font-size: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#gameArea #myArea #mySubArea {
    flex-basis: 40%;
    margin: 10px 10px 10px 10px;
    background-color: rgba(30, 30, 30, 0.5);

    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#gameArea #myArea #mySubArea #mySavedArea {
    flex-basis: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#gameArea #myArea #mySubArea #myControlArea {
    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 22px;
}

#gameArea #infoArea #round{
    flex-basis: 33%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameArea #infoArea #turn {
    flex-basis: 33%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameArea #infoArea #phase{
    flex-basis: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gameArea #oppArea {
    grid-area: oppArea;
}
#gameArea #oppArea #oppDiceArea {
    flex-basis: 60%;
    margin: 10px 10px 10px 10px;
    background-color: rgba(30, 30, 30, 0.5);

    font-size: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#gameArea #oppArea #oppSavedArea {
    flex-basis: 40%;
    margin: 10px 10px 10px 10px;
    background-color: rgba(30, 30, 30, 0.5);

    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gameArea button {
    background: rgba(0, 0, 0, 0);
    border: none;
}
#gameArea button.able:hover {
    color: white;
}
#gameArea button.disable {
    color: rgba(0, 0, 0, 0.4);
}